@model IEnumerable<ClassLibrary1.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="panel panel-info">
    <header class="panel-heading">
        <h3 class="panel-title">Category</h3>
    </header>
    <div class="panel-body">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="100" width="100" alt="" >
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>
