@model VehicleSale.ViewModels.TagMasterVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="panel panel-info">
    <header class="panel-heading">
        <h3 class="panel-title">Tags Master</h3>
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "TagMasters", FormMethod.Post,
                                                new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TagName)

                    @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TagIconUrl,"Tag Icon")
                    <input id="TagIconUrl" name="TagIconUrl" type="file" class="file form-control" data-preview-file-type="text">
                   
                    @Html.ValidationMessageFor(model => model.TagIconUrl, "", new { @class = "text-danger" })

                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.BackgroundUrl, "Background Image")
                    <input id="BackgroundUrl" name="BackgroundUrl" type="file" class="file form-control" data-preview-file-type="text">
                   
                    @Html.ValidationMessageFor(model => model.BackgroundUrl, "", new { @class = "text-danger" })

                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive)

                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">

                    <input type="submit" value="Create" class="btn btn-primary" />
                    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }

    </div>
</section>