@model VehicleSale.ViewModels.TagMasterVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel panel-info">
    <header class="panel-heading">
        <h3 class="panel-title">Tags Master</h3>
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "TagMasters", FormMethod.Post,
                                                    new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-6">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.TagName)

                    @Html.EditorFor(model => model.TagName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TagName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @if (Model.TagIconUrl != null)
                    {
                        @Html.LabelFor(model => model.TagIconUrl, "Tag Icon")


                        <img src=@Html.DisplayFor(modelItem => modelItem.TagIconUrl) alt="" width="200" height="200" />
                        <i class="fa fa-times" aria-hidden="true" vehicleid="@Model.ID" id="CrossLogo_image"></i>
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.TagIconUrl, "", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.LabelFor(model => model.TagIconUrl)

                        <input id="TagIconUrl" required name="TagIconUrl" type="file" class="file form-control" data-preview-file-type="text">


                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.TagIconUrl, "", new { @class = "text-danger" })

                    }


                </div>

                @*<div class="form-group">
                    @if (Model.BackgroundUrl != null)
                    {
                        @Html.LabelFor(model => model.BackgroundUrl, "Background Image")


                        <img src=@Html.DisplayFor(modelItem => modelItem.BackgroundUrl) alt="" width="200" height="200" />
                        <i class="fa fa-times" aria-hidden="true" vehicleid="@Model.ID" id="Cross_image"></i>
                        @Html.ValidationMessageFor(model => model.BackgroundUrl, "", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.LabelFor(model => model.BackgroundUrl)

                        <input id="BackgroundUrl" name="BackgroundUrl" type="file" class="file form-control" data-preview-file-type="text">

                        @Html.ValidationMessageFor(model => model.BackgroundUrl, "", new { @class = "text-danger" })

                    }


                </div>*@

                <div class="form-group">

                    @Html.LabelFor(model => model.IsActive)

                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })

                </div>
            </div>
        }
    </div>
</section>
<script>
    $('#CrossLogo_image').click(function () {
        if (confirm("Do you want to delete logo?")) {
            var id = $("#CrossLogo_image").attr("vehicleid");
            $.ajax({
                url: "/TagMasters/LogoImageDelete?id=" + id,
                type: "post", success: function (data) {
                    if (data == 'true') {
                        location.reload();
                        //window.location.reload();
                    }
                    return true;
                }, error: function (data) {
                    return false;
                }
            });
        }
    });
    //$('#Cross_image').click(function () {
    //    if (confirm("Do you want to delete Image?")) {
    //        var id = $("#Cross_image").attr("vehicleid");
    //        $.ajax({
    //            url: "/TagMasters/ImageDelete?id=" + id,
    //            type: "post", success: function (data) {
    //                if (data == 'true') {
    //                    location.reload();

    //                }
    //                return true;
    //            }, error: function (data) {
    //                return false;
    //            }
    //        });
    //    }
    //});
</script>
