@model VehicleSale.Models.RegisterViewModel
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;
@{
    var FirstName = Session["LoginFirstName"];
    var LastName = Session["LoginLastName"];
    var Email = Session["LoginEmail"];
    ViewBag.Title = "Register";
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Scripts/lib/jquery/ui/jquery-ui.css" rel="stylesheet" />
<link href="~/assets/css/main.css" rel="stylesheet" />
<section class="panel panel-info login_div">

    <div class="panel-body">
        <div class="col-md-12 heading_login">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Please put these for register</h4>

                if (FirstName != null && FirstName != "")
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        <input value="@FirstName" name="FirstName" type="text" class="form-control" placeholder="First Name" />
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                }
                if (LastName != null && LastName != "")
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        <input value="@LastName" name="LastName" type="text" class="form-control" placeholder="Last Name" />
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

                    </div>
                }
                if (Email != null && Email != "")
                {

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        <input value="@Email" name="Email" type="text" class="form-control" placeholder="Email" />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })


                </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DOB)
                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                        </div>
                        @Html.Captcha(5)

                        <br />
                        <p class="text-danger">  @ViewBag.ErrMessage </p>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Register" />
                        </div>

            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/Content/Scripts/lib/jquery/ui/jquery-ui.js"></script>
<script>
    $( function() {
        $("#DOB").datepicker();
       
    } );
</script>