@using VehicleSale.Controllers
@model ClassLibrary1.Page
<input type="hidden" id="hdnPageId" value="@Model.Id" />
<input type="hidden" id="ImgId" />
@{
    EditingController obj = new EditingController();
}

<div class="landing">
    <div class="about_us_banner">
        <div class="container"><h1>About us</h1></div>
    </div>

    <div class="col-sm-12 contant_detail">

        <div class="container">
            <div class="about_row">
                <div class="col-sm-5 about_img EditableImage" >
                    @*<img src="~/images/download.png" />*@
                    @{
                        var imag1 = obj.GetSingleImage(@Model.Id, "singleImg1");
                    }
                    <img id="singleImg1" src="@imag1">
                </div>

                <div class="col-sm-7 about_us_text" id="Widget1">
                    @{
                        ViewContext.Writer.Write(obj.RenderZone(@Model.Id, "Widget1"));
                    }
                    @*<h1> Lorem ipsum doller to set.</h1>
                    <h4>
                        Tinciduntfusce mauris porttitor hendreritphasellus natoque odio. At cum nunc enim vitaenunc, potenti suspendisse lobortisdonec netus.
                        Viverra integer gravidaduis pharetra nisipellentesque. Phasellus congue eupraesent, egestasdonec vestibulum condimentum. Hac sem
                        facilisimaecenas nisi. Et minulla quam maximus.
                    </h4>

                    <p>
                        Semper integer urnavivamus enim. Quis eros faucibusmauris. Turpisnullam nostra lectus lacus tempusvestibulum, consectetur urnamorbi
                        tempus facilisicurabitur praesent, ultricies ligula tortor congue, eufusce primis justo. Porttitor maximus proin, exsed montes
                        hendreritphasellus maecenas, hendrerit venenatis maurisphasellus. Taciti torquent turpis eget tellusfusce, purusetiam idcras nullam ornare
                        diamfusce. Imperdiet nullamaecenas ac dignissim. Lorem accumsan inceptos fames vehicula. Nislnam euismod auctor tempusmauris idsed,
                        dapibusaliquam convalliscurabitur egetvestibulum musin.
                    </p>*@
                </div>
            </div>



            <div class="about_row">

                <div class="col-sm-7 about_us_text" id="Widget2">
                    @{
                        ViewContext.Writer.Write(obj.RenderZone(@Model.Id, "Widget2"));
                    }
                    @*<h1> Why Choose us.</h1>

                    <p>
                        Loremfusce arcu purus torquent, risusaliquam minulla molestiecurabitur. Duivestibulum nisl sem urnamorbi exsed. Antephasellus maximus
                        urnavivamus volutpatetiam posueremorbi..
                    </p>

                    <ul>
                        <li>Lorem ispum doller to set conetain the veiw on the secet to improve the circuit the main concept.</li>
                        <li>Lorem ispum doller to set conetain the veiw on the secet to improve the circuit the main concept.</li>
                        <li>Lorem ispum doller to set conetain the veiw on the secet to improve the circuit the main concept.</li>
                        <li>Lorem ispum doller to set conetain the veiw on the secet to improve the circuit the main concept.</li>
                        <li>Lorem ispum doller to set conetain the veiw on the secet to improve the circuit the main concept.</li>

                    </ul>*@

                </div>

                <div class="col-sm-5 about_img EditableImage">
                    @*<img src="~/images/download.png" />*@
                    @{
                        var imag2 = obj.GetSingleImage(@Model.Id, "singleImg2");
                    }
                    <img id="singleImg2" src="@imag2">
                </div>

            </div>


        </div>
    </div>
</div>

<div id="modal-form-company-contact" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close">X</a>
        <h3>Select Image</h3><a href="/Media/MediaCategory">Upload More Images</a>
        <a data-dismiss="modal" onclick="return SaveSliderImage();" class="btn btn-primary" style="margin-top:-2px; margin-right:8px; float:right;">Save Image</a>
        <a onclick="return AddMoreControl();" class="btn btn-primary" style="margin-top:-2px; margin-right:27px; float:right">Add More</a>
    </header>
    <div class="modal-body">
        <form method="get">
            <div class="form-group">
                <div class="dropdown">
                    <select id="selectuploadfolder" onchange="GetFolderImg(this);" name="FolderId" class="folderDropdown form-control"></select>
                    <ul class="folderimage">
                        <li id="showuploadimglist" style="display:inline;">
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" data-modal-id="" class="btn btn-primary PostImageSingle" onclick="submitimg()">Submit Image</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
<div id="modal-form-company-contact1" class="modal-box">
    <header>
        <a href="#" class="js-modal-close close">X</a>
        <h3>Select Image</h3><a href="/Media/MediaCategory">Upload More Images</a>
    </header>
    <div class="modal-body">
        <form method="get">
            <div class="form-group">
                <div class="dropdown">
                    <select id="selectuploadfolder1" onchange="GetFolderImg(this);" name="FolderId" class="folderDropdown form-control"></select>
                    <ul class="folderimage">
                        <li id="showuploadimglist1" style="display:inline;">
                        </li>
                    </ul>
                    <div class="text-center">
                        <a class="js-modal-close btn btn-primary" onclick="submitimg()">Submit Image</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






<script>
    $(document).ready(function () {
        $('#header').addClass('top_bar');

    });

</script>