@using ClassLibrary1;
@using VehicleSale.ViewModels;
@using CloudinaryDotNet;
@using CloudinaryDotNet.Actions;
@using System.Web.Configuration;
@{
    var CategoryList = ViewBag.RVCategoryList;
    var FeatureList = ViewBag.RVVehicleFeatures;
    var Featuredaddimages = (List<VehicleAddimage>)ViewBag.RVVehicleAddimage;
    var Testimonials = ViewBag.RVTestimonials;
    var Faqs = ViewBag.RVFaqs;
    var Ratingavrage = ViewBag.RVRatingavrage;
    var Tags = ViewBag.RVTags;
    Account account = new Account(WebConfigurationManager.AppSettings["CloudName"],
                             WebConfigurationManager.AppSettings["ApiKey"],
                             WebConfigurationManager.AppSettings["ApiSecret"]);
    Cloudinary cloudinary = new Cloudinary(account);
}

<link href="~/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />

<script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/Slider/Css/normalize.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Slider/Css/normalize.css">
<link rel="stylesheet" href="~/Content/Slider/Css/font-awesome.css">
<link rel="stylesheet" href="~/Content/Slider/Css/ospb.css">
<link rel="stylesheet" href="~/Content/Slider/Css/horizontal.css">

<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
@*<link href="http://fancyapps.com/fancybox/source/jquery.fancybox.css" rel="stylesheet" />*@
@*<link href="~/Content/Fancybox/jquery.fancybox.css" rel="stylesheet" />*@
<script src="~/Content/Slider/js/modernizr.js"></script>
@*<script src="~/Content/Slider/js/jquery.min.js"></script>*@
@*<script src="~/Content/Fancybox/jquery.fancybox.js"></script>*@
@*<script type="text/javascript" src="http://fancyapps.com/fancybox/source/jquery.fancybox.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .ui-widget-header {
        background: #666666;
    }

    .ui-widget-content {
        background: #666666;
        border: 0px;
    }

    .ui-slider .ui-slider-handle {
        background-image: url(../../images/btn-scroll.png) !important;
        background-repeat: no-repeat !important;
        width: 92px !important;
        height: 24px !important;
        background: transparent;
        border: 0px;
    }

    .hori_scroll .scrollbar {
        margin-top: 20px;
    }

    .hori_scroll .scrollbar {
        height: 10px;
        border-radius: 12px;
        background: #333;
    }

    .about-inner h1 {
        color: #fff;
    }

    .scrollbar .handle .mousearea {
        width: 85px;
        height: 25px;
        background-image: url('../../Content/Home/images/btn-scroll.png');
        background-size: 85px 25px;
        top: -8px;
    }

    .frame {
        height: 180px;
    }

        .frame ul li {
            background: transparent;
        }

            .frame ul li.active {
                background: transparent;
            }

            .frame ul li:hover {
                background: rgba(96,218,207,0.6);
            }

    .img-scroller li a:hover {
        background: transparent;
        border: 0px !important;
    }
</style>

<script>
    $(document).ready(function () {
        var frame = $('#basic1');
        var slidee = frame.children('ul').eq(0);
        var wrap = frame.parent();

        // Call Sly on frame
        frame.sly({
            horizontal: 1,
            itemNav: 'basic',
            smart: 1,
            activateOn: 'click',
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            startAt: 3,
            scrollBar: wrap.find('.scrollbar'),
            scrollBy: 1,
            pagesBar: wrap.find('.pages'),
            activatePageOn: 'click',
            speed: 300,
            elasticBounds: 1,
            easing: 'easeOutExpo',
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1,
        });

        $("#type").hide(500);
        $("#feature").hide(500);
    });

</script>

<!-- Banner -->
<section id="banner">
    <style>
        .jssorb01 {
            position: absolute;
        }

            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
                position: absolute;
                /* size of bullet elment */
                width: 12px;
                height: 12px;
                filter: alpha(opacity=70);
                opacity: .7;
                overflow: hidden;
                cursor: pointer;
                border: #000 1px solid;
            }

            .jssorb01 div {
                background-color: gray;
            }

                .jssorb01 div:hover, .jssorb01 .av:hover {
                    background-color: #d3d3d3;
                }

            .jssorb01 .av {
                background-color: #fff;
            }

            .jssorb01 .dn, .jssorb01 .dn:hover {
                background-color: #555555;
            }


        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../../img/a17.png') no-repeat;
            overflow: hidden;
        }

        .jssora05l {
            background-position: -10px -40px;
        }

        .jssora05r {
            background-position: -70px -40px;
        }

        .jssora05l:hover {
            background-position: -130px -40px;
        }

        .jssora05r:hover {
            background-position: -190px -40px;
        }

        .jssora05l.jssora05ldn {
            background-position: -250px -40px;
        }

        .jssora05r.jssora05rdn {
            background-position: -310px -40px;
        }

        .jssora05l.jssora05lds {
            background-position: -10px -40px;
            opacity: .3;
            pointer-events: none;
        }

        .jssora05r.jssora05rds {
            background-position: -70px -40px;
            opacity: .3;
            pointer-events: none;
        }
    </style>
    @using VehicleSale.Controllers;
    @{ HomeController list = new HomeController();}
    <div id="jssor_4" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1369px; height:700px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position: absolute; display: block; background: url('../../img/loading.gif') no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1369px; height: 700px; overflow: hidden;">
            <a data-u="any" href="http://www.jssor.com" style="display:none">Banner Rotator</a>
            @{var images = list.GetSliderImages();
                @*<a data-toggle="modal" onclick="showEditDel(this)" data-modal-id="modal-form-company-address" href="#"><div class="edit-indicator-widget" style="position:absolute;z-index:999;right:35px; float:right; list-style-type:none; width:30px;"><img style="display:none;margin:5px;width:30px" id="SliderEdit" title="Edit Slider Images" src="~/images/Edit.png"></div></a>*@

                <a data-toggle="fb-modal" href="/Media/Create"><div class="edit-indicator-widget" style="position:absolute;z-index:999;right:35px; float:right; list-style-type:none; width:35px;"><img style="display:none;margin:5px;width:30px" id="EditImage" title="Edit Slider Images" src="~/images/Edit.png"></div></a>

                foreach (var image in images)
                {
                    <div data-p="112.50">
                        @cloudinary.Api.UrlImgUp.Transform(new Transformation().Crop("fill")).BuildImageTag(@image.PublicKey, new StringDictionary("data-u=image"))
                        @*<img data-u="image" src="@image.BannerUrl" />*@
                        <div class="banner-inner">
                            <h2>@image.Title</h2>
                            <hr>
                            <p>@image.Description</p>
                            <a href="#" class="button-big">CHOOSE YOUR RV NOW</a>
                        </div>
                    </div>

                }       }

        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb01" style="bottom:42px;right:662px;">
            <div data-u="prototype" style="width:12px;height:12px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:0px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
    </div>

    <div class="container search_contianer">
        <div class="col-sm-12 placebox">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <select class="form-control input-lg location-field">
                        <option>2875 Towerview Rd. Herndon, VA 20171</option>
                    </select>
                    @*<input name="q" value="" class="form-control input-lg location-field" placeholder="Where will your journey begin?" autocomplete="off">*@
                </div>
            </div>
            <div class="form-group date-select">
                <div class="input-group">
                    <span class="input-group-addon calendar"><i class="fa fa-calendar"></i></span>
                    <input name="from" id="pickup" class="form-control input-lg datepicker-field-from datepicker-field-from--home hasDatepicker" placeholder="Pickup">
                </div>
            </div>
            <div class="form-group date-select">
                <div class="input-group">
                    <span class="input-group-addon calendar"><i class="fa fa-calendar"></i></span>
                    <input name="to" id="dropoff" class="form-control input-lg datepicker-field-to datepicker-field-to--home hasDatepicker" placeholder="Dropoff">
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-primary btn-lg btn-block btn-od-standard" href="/Home/OurFleetListing"><i class="fa fa-search"></i> Find Yours</a>
            </div>
        </div>
    </div>
</section>

<!-- One -->
<section id="one" class="featured">
    <div class="title"><span>Featured RVS</span></div>

    @if (Featuredaddimages != null)
    {
        foreach (VehicleAddimage vichleDetail in Featuredaddimages)
        {
            <div class="col-sm-6">
                <div class="col-sm-6 featured_text">
                    <h3> @vichleDetail.Vehicletitle</h3>
                    <p> @vichleDetail.VehicleDescription ...........</p>
                </div>

                <div class="col-sm-6">
                    <a href="/VehicleDetail/Index/@vichleDetail.VehicleID">
                        @cloudinary.Api.UrlImgUp.Transform(new Transformation().Height("200").Width("250").Crop("fill")).BuildImageTag(@vichleDetail.PublicKey)
                        @*<img src="@vichleDetail.ImageUrl" alt="" />*@
                    </a>
                </div>
            </div>


        }
    }
</section>

<section id="passengers" class="scroller">
    <div class="title">
        <span>CHOOSE YOUR RV</span>
        <p>SELECT NUMBER OF PASSENGERS</p>
    </div>
    <div class="content horizontal-images mCustomScrollbar _mCS_6" data-mcs-theme="dark">
        <div class="mCustomScrollBox mCS-light-3 mCSB_horizontal mCSB_inside">
            <div class="mCSB_container">
                <ul class="img-scroller" id="p_setid">
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="1" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="2" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="3" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="4" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="5" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="6" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="7" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="8" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="9" onclick="personcount(this);" />  <br />
                        </a>
                    </li>

                    <li>
                        <a href="#passengers">
                            <img src="~/ProductImage/brightimage.png" id="10" onclick="personcount(this);" />  <br />
                        </a>
                    </li>
                </ul>
            </div>
            @*<div id="mCSB_6_scrollbar_horizontal" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-3 mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; left: 0px; display: block; width: 456px; max-width: 1030px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>*@
        </div>
    </div>
    <ul class="actions">

        <li class="middle"><div class='CarLoanWarehouseCalc_Slider' id="p_scroll"></div></li>

        <li class="next-btn"><a href="#feature" class="next-btn" id="pass_click" onclick="Back_Next(this);">Next</a></li>
    </ul>
</section>
<style>
    /*.CarLoanWarehouseCalc_Slider {
        width: 100%;
    }*/
</style>




<section id="feature" class="scroller">

    <div class="title">
        <span>CHOOSE YOUR RV</span>
        <p>VEHICLE FEATURES</p>
    </div>


    <div class="pagespan container hori_scroll">
        <div class="wrap">


            <div class="frame" id="basic">

                <ul class="img-scroller clearfix">

                    @if (FeatureList != null)
            {
                foreach (FeaturesMaster feature in FeatureList)
                {
                            <li class="">
                                <a href="#feature" onclick="SelectFeature(this)" data-html="@feature.Title">
                                    <img src="@feature.ImageUrl" alt="@feature.Title" /><br />
                                    @feature.Title<br />
                                    <span id="featuretext"></span>
                                </a>
                            </li>
                        }
                    }

                </ul>

            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
            <ul class="actions">
                <li class="back-btn"><a href="#passengers" class="back" onclick="Back_Next(this)">GO BACK</a></li>

                <li class="next-btn"><a href="#" class="next-btn" onclick="Result();">Next</a></li>
            </ul>
            @**@

        </div>
    </div>



    @*<div class="content horizontal-images mCustomScrollbar _mCS_6" data-mcs-theme="dark">
            <div class="mCustomScrollBox mCS-light-3 mCSB_horizontal mCSB_inside">


                <div class="mCSB_container">

                    <ul class="img-scroller">

                        @if (FeatureList != null)
                {
                    foreach (AmentiesMaster ammenty in FeatureList)
                    {
                                <li class="">
                                    <a href="#feature" onclick="SelectFeature(this)" data-html="@ammenty.Name">
                                        <img src="@ammenty.ImageUrl" alt="@ammenty.Name" /><br />
                                        @ammenty.Name<br />
                                        <span id="featuretext"></span>
                                    </a>
                                </li>

                            }
                        }

                    </ul>
                </div>
                <div id="mCSB_6_scrollbar_horizontal" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-3 mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; left: 0px; display: block; width: 456px; max-width: 1030px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </div>
        </div>
        <ul class="actions">
            <li class="back-btn"><a href="#passengers" class="back" onclick="Back_Next(this)">GO BACK</a></li>
            <li class="middle"><a href="#" class="scroll"><span class="scroll-btn"><img src="~/images/btn_scroll.png" alt="" /></span></a></li>
            <li class="next-btn"><a href="#type" class="next-btn" onclick="Back_Next(this)">Next</a></li>
        </ul>*@

</section>
<!-- two -->
@*<section id="type" class="scroller">

        <div class="title">
            <span>CHOOSE YOUR RV</span>
            <p>VEHICLE TYPE</p>
        </div>


        <div class="pagespan container hori_scroll">
            <div class="wrap">

                <div class="frame" id="basic1">

                    <ul class="img-scroller clearfix" id="c_scroll">
                        @if (CategoryList != null)
                {
                    foreach (Category category in CategoryList)
                    {
                                <li class="">
                                    <a href="#type" onclick="vehicle_types(this)" data-html="@category.Name" data-bind="@category.ID">
                                        <img src="@category.ImageUrl" alt="" /><br />
                                        @category.Name<br />
                                        <span id="categorytext"></span>
                                    </a>
                                </li>
                            }
                        }

                    </ul>

                </div>
                <div class="scrollbar"><div class="handle"><div class="mousearea"></div></div></div>
                <ul class="actions">
                    <li class="back-btn"><a href="#feature" class="back" onclick="Back_Next(this)">GO BACK</a></li>
                    <li></li>
                    <li class="next-btn"><a href="#" class="next-btn" onclick="Result();">Next</a></li>
                </ul>
            </div>
        </div>
    </section>*@



<style>
    .feature_background {
        background: #00ff00;
        color: #333;
        border: #d95b5b 1px solid;
    }
</style>


<script>

    var person_count = 0;
    var feature_array = [];
    var vehicle_type;
    function removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
            what = a[--L];
            while ((ax = arr.indexOf(what)) !== -1) {
                arr.splice(ax, 1);
            }
        }
        return arr;
    }

    function vehicle_types(ctrl) {
        $('#c_scroll li').attr("class", "");

        vehicle_type = $(ctrl).data('html');
        vehicle_type = $(ctrl).attr('data-bind');
        if ($(ctrl).parent("li").attr("class") == "") {
            $(ctrl).parent("li").attr("class", "feature_background");
        }
        else {
            $(ctrl).parent("li").attr("class", "");
        }
    }
    function personcount(ctrl) {
        var id = $(ctrl).attr('id');
        debugger;
        person_count = id;
        for (var i = 0; i < parseInt(id) ; i++) {
            $('#p_setid img').eq(i).attr("class", "p_image");
            $('img.p_image').attr("src", "/ProductImage/im.png");
        }
        for (var i = parseInt(id) ; i <= 10 ; i++) {
            $('#p_setid img').eq(i).attr("class", "no_image");
            $('img.no_image').attr("src", "/ProductImage/brightimage.png");
        }
        var new_value = parseInt(id) * 10;
        $("#p_scroll").slider('values', [new_value, 110]).change();
    }
    function SelectFeature(ctrl) {

        //   var id=$(ctrl).find('span').attr("id");

        if ($(ctrl).parent("li").attr("class") == "") {
            $(ctrl).parent("li").attr("class", "feature_background");
            // $(ctrl).find('span').html("<b style='color:black;'>SELECTED</b>");
            feature_array.push($(ctrl).data('html'));
        }
        else {
            $(ctrl).parent("li").attr("class", "");
            //  $(ctrl).find('span').html("");

            removeA(feature_array, $(ctrl).data('html'));
        }
    }
    var count_ui = 1;
    (function () {
        $("#p_scroll").slider({
            range: true,
            min: 1,
            max: 110,
            values: [1, 110],
            step: 10,
            slide: function (event, ui) {
                $("img.p_image").attr("class", "no_image");
                console.log("val" + ui.values[0]);
                var sum = parseInt(ui.values[0]) - parseInt(count_ui);
                console.log("sum" + sum);
                var div = sum / 10;
                console.log("div" + div);
                //  var sum = parseInt(ui.values[1]) - parseInt(ui.values[0]);
                //  var div = sum / 10;
                for (var i = 0; i < div; i++) {
                    $('#p_setid img').eq(i).attr("class", "p_image");
                }
                //$('#p_setid li').attr("class", "p_image");
                $('img.p_image').attr("src", "/ProductImage/im.png");
                $('img.no_image').attr("src", "/ProductImage/brightimage.png");
                person_count = div;
                handlevalues = $("#p_scroll").slider('values');
            },
        });

    })();


    function Back_Next(ctrl) {

        console.log($(ctrl).attr("href"));

        if ($(ctrl).attr("href") == "#feature" && parseInt(person_count) > 0) {
            $('#feature').show();
            $('#passengers').hide();
            //  $('#type').hide();
        }
        else if ($(ctrl).attr("href") == "#passengers") {
            $('#feature').hide();
            $('#passengers').show();
            // $('#type').hide();
        }
        //else if ($(ctrl).attr("href") == "#type" && feature_array.length > 0) {
        //    $('#feature').hide();
        //    $('#passengers').hide();
        //    $('#type').show();
        //}

    }
    function Result(e) {
        
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Home/GoToList",
            data: "{'person':'" + person_count + "', 'feature':'" + feature_array + "'}",
            success: function (Record) {
                window.location.href = "/Home/ListingPage";

            }
        });
    }

</script>

<!-- three -->
<section id="three" class="about">
    <div class="title"><span>ABOUT ACE RV</span></div>
    <div class="about-inner">
        <p>@Html.Raw(ViewBag.AboutUs) .....</p>
        @*<p>ACE RV SALES AND RENTALS OFFERS RV, MOTOR HOME AND TRAVEL TRAILER RENTALS AND SALES AT GREAT RATES AND BEST DEALS THROUGH OUT VIRGINIA, MARYLAND AND WASHINGTON DC AREAS.</p>
            <p>WE LOOK FORWARD TO ASSISTING YOU WITH YOUR NEXT RV SALE OR RV RENTAL. AS A FAMILY OWNED BUSINESS,</p>
            <p class="last">WE STRIVE TO PROVIDE YOU WITH A COURTEOUS, RELIABLE AND PERSONALIZED RV RENTAL AND SALES EXPERIENCE.</p>*@
        <a href="~/Home/AboutUs" class="read-more">READ More</a>
    </div>
</section>

<!-- Three -->
<section id="three" class="sponcer">
    <div class="full">
        <ul>
            @if (Tags != null)
            {
                foreach (TagMaster tags in Tags)
                {
                    <li><a href="~/Home/ListingPage?tags=@tags.ID"><img src="@tags.TagIconUrl" alt="" /></a></li>
                }
            }


        </ul>
    </div>
</section>

<!-- four -->
<section id="four" class="testimonials-section">
    <div class="title"><span>Testimonials</span></div>
    <div class="container">
        <p>Average Rating  @Ratingavrage / 5 rating @Ratingavrage out of 5 based on 12,229 reviews.</p>
        <div id="owl-demo" class="owl-carousel owl-theme product-grid">
            @if (Testimonials != null)
            {
                foreach (Testimonial tstmonls in Testimonials)
                {
                    //crausal item
                    <div class="item">
                        <div class="img-block">
                            @if (tstmonls.ImageURl == null)
                            {
                                <img src="@tstmonls.ImageURl" alt="">
                            }
                            else
                            {
                                <img src="@tstmonls.ImageURl" alt="">
                            }
                        </div>
                        <div class="caption">
                            <h2 class="text-center tweet">

                                <img src="@tstmonls.LogoUrl" />
                            </h2>
                            <h3>
                                <a href="#">
                                    @tstmonls.Title
                                </a>
                            </h3>
                            <p>@tstmonls.Summary</p>
                        </div>
                        <div class="rating">
                            <div class="rating-count">Rating <strong>@tstmonls.Rating/5</strong></div>
                            <div class="rating-icon"> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                    </div>
                }
            }

        </div>

        <div class="btn-see"><a href="/Home/TestimonialListing" class="read-more">See All Feedbacks</a></div>
    </div>
</section>


<!-- testimonials -->
<!-- newsletter -->
<section id="four" class="subscribe">
    <div class="newsletter col-sm-6">
        <div class="title"><span>Stay Upto Date</span></div>
        <div class="inner">
            <h2>Subscribe to Our newslette</h2>
            <form id="subscribe">
                <input name="" type="text" placeholder="EMAIL" id="txt_Email">
                <input name="Button" type="button" value="Subscribe" id="btn_Subscribe">
            </form>
            <label id="error"> </label>
        </div>
    </div>
    <div class="faq col-sm-6">
        <div class="title"><span>Faq</span></div>
        <div class="inner">

            <div id="accordion">
                <ul>
                    @if (Faqs != null)
                    {
                        foreach (Faq fq in Faqs)
                        {
                            <li class="accordion-toggle">@fq.Description</li>
                            <div class="accordion-content default">
                                <p>@fq.Faqresult</p>
                            </div>
                        }
                    }


                </ul>
            </div>
            <a href="/Home/FAQ" class="read-more">View more</a>
        </div>
    </div>
</section>
<!-- newsletter -->



<section id="five" class="contact">
    <div class="title"><span>Contact us</span></div>
    <div class="contact_inner col-sm-6">

        <div class="inner">
            <address>
                <p>
                    875 towerview Rd suite a1 herndon,
                    va 20171<br />
                    tel: 571-367-9223<br />
                    email: info@acervdmv.com<br />
                    web: www.acervdmc.com<br />
                <p>
            </address>
            <h3>Follow Us on</h3>
            <ul>
                <li><a href="#"><img src="~/images/facebook.png" /></a></li>
                <li><a href="#"><img src="~/images/insta.png" /></a></li>
                <li><a href="#"><img src="~/images/googlePlus.png" /></a></li>
                <li><a href="#"><img src="~/images/in.png" /></a></li>
            </ul>
        </div>
    </div>
    <div class="send-message col-sm-6 ">
        <h3>Send us a message</h3>
        <div class="inner">
            <form id="subscribe">
                <input id="msg_Name" type="text" placeholder="Name">
                @*<label id="err_Name"></label>*@
                <input id="msg_Email" type="text" placeholder="Email">
                @*<label id="err_Email"></label>*@
                <input id="msg_Phone" type="text" placeholder="Phone">
                @*<label id="err_Phone"></label>*@
                <textarea id="msg_Message" cols="8" rows="2" placeholder="Message"></textarea>
                @*<label id="err_Message"></label>*@
                <input name="Button" type="button" id="btn_Message" value="Send">

            </form>
            <label id="err_Message"></label>
        </div>
    </div>
</section>

<script src="~/Content/Slider/js/plugins.js"></script>
<script src="~/Content/Slider/js/sly.min.js"></script>
<script src="~/Content/Slider/js/horizontal.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {

        $("#pickup").datepicker();
        $("#dropoff").datepicker();
        //$("#msg_Phone").datepicker();
        $(".accordion-content").slideUp();
        $('#accordion').find('.accordion-toggle').click(function () {

            $(this).next().slideToggle('fast');

            //Hide the other panels
            $(".accordion-content").not($(this).next()).slideUp('fast');

        });
    });
</script>

<script>
    var isblank = /^(\s)+$/;
    var isValidEmail = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;


    $('#btn_Message').click(function () {
        var Name = $('#msg_Name').val();
        var Email = $('#msg_Email').val();
        var Phone = $('#msg_Phone').val();
        var Message = $('#msg_Message').val();
        if (Name == '') {
            $("#err_Message").html('Please enter Name.');
            return false;
        }
        else if (Email == '') {
            $("#err_Message").html('Please enter Email.');
        }
        else if (Email.search(isValidEmail) == -1) {
            $("#err_Message").html('Please enter Correct Email.');
            return false;
        }
        else if (Phone == '') {
            $("#err_Message").html('Please enter Phone.');
            return false;
        }
        else if (Message == '') {
            $("#err_Message").html('Please enter Message');
            return false;
        }
        else {
            $.ajax({
                url: "/Home/MessageSenderDetails",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: "{'Name':'" + Name + "', 'Email':'" + Email + "', 'Phone':'" + Phone + "', 'Message':'" + Message + "'}",
                type: "post", success: function (data) {

                    $("#err_Message").html('Message sent sucessfully.');
                    $('#msg_Name').val('');
                    $('#msg_Email').val('');
                    $('#msg_Phone').val('');
                    $('#msg_Message').val('');

                }, error: function (data) {
                    return false;
                }
            });

        }
    });
    $('#btn_Subscribe').click(function () {

        var Email = $("#txt_Email").val();

        if (Email == '') {
            $("#error").html('Please enter Email.');
            return false;
        }
        else if (Email.search(isValidEmail) == -1) {
            $("#error").html('Please enter Correct Email.');
            return false;
        }
        else {
            $.ajax({
                url: "/Home/NewsletterSubscribe?Email=" + Email,
                type: "post", success: function (data) {
                    if (data == 'true') {
                        $("#error").html('Sucessfully Subscribed.');

                        $("#txt_Email").val("");
                    }
                    if (data == 'Already') {
                        $("#error").html('You are already Subscribed.');

                        $("#txt_Email").val("");

                    }
                    return true;
                }, error: function (data) {
                    return false;
                }
            });
        }
    });
    $(document).ready(function () {
        //$("#txt_Email").blur(function () {
        //    var Email = $("#txt_Email").val();
        //    if (Email == '') {
        //        $("#error").html('Please Enter Emailid.');
        //    }
        //    else
        //    {
        //        $("#error").html('');
        //    }
        //})
        $(".ui-state-default").css("left", "0%");
        $("#owl-demo").owlCarousel({
            navigation: true,
            items: 3
        });
    });

</script>

<style>
    .accordion-content {
        background: #fff;
        margin: 0px;
        padding: 6px 15px;
        margin-bottom: 10px;
    }

        .accordion-content p {
            margin: 0px;
            font-size: 16px;
        }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_4_SlideshowTransitions = [
          { $Duration: 1200, x: 0.2, y: -0.1, $Delay: 20, $Cols: 8, $Rows: 4, $Clip: 15, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $Formation: $JssorSlideshowFormations$.$FormationStraightStairs, $Assembly: 260, $Easing: { $Left: $Jease$.$InWave, $Top: $Jease$.$InWave, $Clip: $Jease$.$OutQuad }, $Outside: true, $Round: { $Left: 1.3, $Top: 2.5 } },
          { $Duration: 1500, x: 0.3, y: -0.3, $Delay: 20, $Cols: 8, $Rows: 4, $Clip: 15, $During: { $Left: [0.1, 0.9], $Top: [0.1, 0.9] }, $SlideOut: true, $Formation: $JssorSlideshowFormations$.$FormationStraightStairs, $Assembly: 260, $Easing: { $Left: $Jease$.$InJump, $Top: $Jease$.$InJump, $Clip: $Jease$.$OutQuad }, $Outside: true, $Round: { $Left: 0.8, $Top: 2.5 } },
          { $Duration: 1500, x: 0.2, y: -0.1, $Delay: 20, $Cols: 8, $Rows: 4, $Clip: 15, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $Formation: $JssorSlideshowFormations$.$FormationStraightStairs, $Assembly: 260, $Easing: { $Left: $Jease$.$InWave, $Top: $Jease$.$InWave, $Clip: $Jease$.$OutQuad }, $Outside: true, $Round: { $Left: 0.8, $Top: 2.5 } },
          { $Duration: 1500, x: 0.3, y: -0.3, $Delay: 80, $Cols: 8, $Rows: 4, $Clip: 15, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $Easing: { $Left: $Jease$.$InJump, $Top: $Jease$.$InJump, $Clip: $Jease$.$OutQuad }, $Outside: true, $Round: { $Left: 0.8, $Top: 2.5 } },
          { $Duration: 1800, x: 1, y: 0.2, $Delay: 30, $Cols: 10, $Rows: 5, $Clip: 15, $During: { $Left: [0.3, 0.7], $Top: [0.3, 0.7] }, $SlideOut: true, $Reverse: true, $Formation: $JssorSlideshowFormations$.$FormationStraightStairs, $Assembly: 2050, $Easing: { $Left: $Jease$.$InOutSine, $Top: $Jease$.$OutWave, $Clip: $Jease$.$InOutQuad }, $Outside: true, $Round: { $Top: 1.3 } },
          { $Duration: 1000, $Delay: 30, $Cols: 8, $Rows: 4, $Clip: 15, $SlideOut: true, $Formation: $JssorSlideshowFormations$.$FormationStraightStairs, $Assembly: 2049, $Easing: $Jease$.$OutQuad },
          { $Duration: 1000, $Delay: 80, $Cols: 8, $Rows: 4, $Clip: 15, $SlideOut: true, $Easing: $Jease$.$OutQuad },
          { $Duration: 1000, y: -1, $Cols: 12, $Formation: $JssorSlideshowFormations$.$FormationStraight, $ChessMode: { $Column: 12 } },
          { $Duration: 1000, x: -0.2, $Delay: 40, $Cols: 12, $SlideOut: true, $Formation: $JssorSlideshowFormations$.$FormationStraight, $Assembly: 260, $Easing: { $Left: $Jease$.$InOutExpo, $Opacity: $Jease$.$InOutQuad }, $Opacity: 2, $Outside: true, $Round: { $Top: 0.5 } },
          { $Duration: 2000, y: -1, $Delay: 60, $Cols: 15, $SlideOut: true, $Formation: $JssorSlideshowFormations$.$FormationStraight, $Easing: $Jease$.$OutJump, $Round: { $Top: 1.5 } }
        ];

        var jssor_4_options = {
            $AutoPlay: true,
            $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_4_SlideshowTransitions,
                $TransitionsOrder: 1
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_4_slider = new $JssorSlider$("jssor_4", jssor_4_options);

        /*responsive code begin*/
        /*you can remove responsive code if you don't want the slider scales while window resizing*/
        function ScaleSlider() {
            var refSize = jssor_4_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 2400);
                jssor_4_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*responsive code end*/
    });
</script>
<script type="text/javascript" src="~/assets/js/jssor.slider-21.1.6.min.js"></script>
