@model IEnumerable<VehicleSale.ViewModels.VehicleDetailsVM>

@using CloudinaryDotNet;
@using System.Web.Configuration;

@using ClassLibrary1;
@{
    var CategoryList = ViewBag.RVCategoryList;
    var BrandList = ViewBag.RVBrandList;
    Account account = new Account(WebConfigurationManager.AppSettings["CloudName"],
                            WebConfigurationManager.AppSettings["ApiKey"],
                            WebConfigurationManager.AppSettings["ApiSecret"]);
    Cloudinary cloudinary = new Cloudinary(account);
}

<link href="~/Content/admin/plugins/bootstrap-slider/slider.css" rel="stylesheet" />
<link href="~/Content/Css/jquery.multiselect.css" rel="stylesheet" />
<link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="~/Content/rangeSlider/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <script src="~/Content/rangeSlider/jquery.mobile-1.4.5.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<script src="~/Content/admin/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="~/Content/Scripts/lib/jquery.multiselect.js"></script>

<div class="col-sm-12 contant_detail">
    <!-----Cols-m-8-------------->
    <div class="pull-right col-xs-12 col-sm-8 listing_car" data-role="none">
        <h2 class="col-sm-12"><b>@ViewBag.count</b> Vehicles matching:</h2>
        <input id="minval" type="hidden" />
        <input id="maxval" type="hidden" />
        <div class="col-sm-12">
            <div class="search_listing">
                <select id="sortList" data-role="none">
                <option value="0">Sort By</option>
                    <option value="1">Year: New To Old</option>
                    
                </select>

                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#grid"><i class="fa fa-table" style="font-size: 20px" aria-hidden="true"></i></a></a></li>
                    <li><a data-toggle="pill" href="#listing"><i class="fa fa-list" style="font-size: 20px" aria-hidden="true"></i></a></li>
                </ul>

            </div>
        </div>
        <div class="tab-content grid_list">
            <span style="margin-left:18px;">
                Please wait...
            </span>
            <img src="~/images/indicator.white.gif" />

        </div>

        
    </div>
    <!-----Cols-m-8-------------->
    <!-----Col-sm-4-------------->
    <div class="pull-left col-xs-12 col-sm-4 list_sidebar">
        @*<h2>Select a Starting and Ending date</h2>

            <div class="startdate_enddate col-sm-12">
                <input placeholder="Choose Your Dates" id="ember962" class="form-control" type="text">
            </div>*@
        <div id="dvMap" style="margin-top:20px">
            <input id="searchTextField" type="text" style="width:100%" class="form-control" placeholder="Enter a location" autocomplete="on" />
            <input type="hidden" id="city2" name="city2" />
            <input type="hidden" id="cityLat" name="cityLat" />
            <input type="hidden" id="cityLng" name="cityLng" />

        </div>

        <div class="driving">
            <h2>RV's,Trailers or Van </h2>
            <div class="col-xs-6 col-sm-4 driving_box" id="RV" data="1">
                <label>
                    <img src="~/Content/Home/images/two (3).png" />
                    <br />
                    RV's
                </label>
            </div>

            <div class="col-xs-6 col-sm-4 driving_box" id="Trailers" data="2">
                <label>
                    <img src="~/Content/Home/images/two (2).png" />
                    <br />
                    Trailers
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 driving_box" id="Van" data="3">
                <label>

                    <img src="~/Content/Home/images/two (2).png" /><br />
                    Van
                </label>
            </div>

            <div class="distance_sleep">
                <div class="col-xs-6 col-sm-6">
                    <label>Brands</label>
                    <select id="brands" class="form-control">
                        <option value="">Select</option>
                        @foreach (Brand brand in BrandList)
                        {
                            <option value="@brand.ID">@brand.Name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label>Sleeps</label>
                    <select id="sleeps" class="form-control">
                        <option value="0">Select</option>
                        <option value="1">1 guest</option>
                        <option value="2">2 guests</option>
                        <option value="3">3 guests</option>
                        <option value="4">4 guests</option>
                        <option value="5">5 guests</option>
                        <option value="6">6 guests</option>
                        <option value="7">7 guests</option>
                        <option value="8">8 guests</option>
                        <option value="9">9 guests</option>
                        <option value="10">10 guests</option>
                    </select>
                </div>
            </div>
            <div style="margin-left: 0px;margin-top: 0px; display: block; float:left;width:100%">
                <b style="margin-left: 20px;margin-top: 20px;display: block;">$ 10</b> <input id="slider" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[10,400]" /> <b style="float: right;top: 0;margin-top: -40px;margin-right: 15px;">$ 1000</b>
            </div>
            @*<div class="price_slider">
                    <h2>Min-Price Max-Price</h2>
                    <div data-role="rangeslider">

                        <input type="range" name="price-min" id="price-min" value="0" min="0" max="1000">

                        <input type="range" name="price-max" id="price-max" value="1000" min="0" max="1000">
                    </div>

                </div>*@

            <div class="vehicle_type">
                <h2>Vehicle Type</h2>

                <select name="basic[]" multiple="multiple" id="CategoryList" class="form-control">

                    @if (CategoryList != null)
                    {
                        foreach (Category category in CategoryList)
                        {
                            if (category.ID.ToString() == Convert.ToString(Request.QueryString["vehicle"]))
                            {
                                <option selected value="@category.ID">@category.Name</option>
                            }
                            else
                            {
                                <option value="@category.ID">@category.Name</option>
                            }
                        }
                    }
                </select>

                @*@if (CategoryList != null)
                    {
                        foreach (Category category in CategoryList)
                        {
                            <div class="col-xs-6 col-sm-6">
                                <button class="form-control" id="@category.ID">@category.Name</button>
                            </div>
                        }
                    }*@



            </div>
            <div class="close_icon col-sm-12">
                <a data-role="none" class="btn btn-primary btn-block" id="VehicleTypeFilter" data-ember-action="" data-ember-action-1030="1030">
                    Apply Filter
                </a>
            </div>


            <div class="close_icon col-sm-12">
                <a class="btn btn-primary btn-block" id="clear" data-ember-action="" data-ember-action-1030="1030">
                    <i class="fa fa-remove"></i> Clear Filters
                </a>
            </div>
        </div>
    </div>

    <!-----Cols-m-4-------------->

</div>

<input type="hidden" name="VehicleCategory" value="@Convert.ToString(Request.QueryString["vehicle"])" />
<input type="hidden" id="VehicleTags" name="VehicleTags" value="@Convert.ToString(Request.QueryString["tags"])" />
<style>
    /*.vehicle_type button .active{
        background-color:black !important;
    }*/
</style>

<script>
    var $ = jQuery.noConflict();

    //$(document).on('click', '[data-toggle="login-modal"]', function () {
    //    var clone = $(this).clone();
    //    clone.attr('data-toggle', '');
    //    clone.hide();
    //    clone.fancybox({
    //        type: 'iframe',
    //        autoSize: true,
    //        minHeight: 400,
    //        maxWidth: 400,
    //        minWidth: 400,
    //        padding: 0,
    //        afterShow: function () {
    //            $(".fancybox-iframe").contents().find('form').attr('target', '_parent').css('margin', '0');
    //        }
    //    }).click().remove();
    //    return false;
    //});
    $(document).ready(function () {
        var sort = false;
        $('#header').addClass('top_bar');
        $('.driving_box').click(function () {
            $('.driving_box').find('label').css('border', '2px solid #ddd');
            $(this).find('label').css('border', '2px solid black');
            $('.driving_box').removeClass("active")
            $(this).addClass("active");

        });
        @*$('.vehicle_type').find('button').each(function () {
            if ($(this).attr('id') == "@ViewBag.Category") {
                $(this).addClass("active");
            }
        });*@
        $('.vehicle_type').find('button').click(function () {
            $('.vehicle_type').find('button').removeClass("active");
            $(this).addClass("active");
        });

        $('#CategoryList').multiselect({
            columns: 1,
            showCheckbox: true,
            search: false,
            selectAll: false
        });


        getVehicle();

        $('#VehicleTypeFilter').click(function () {
            getVehicle();
        });

        $("#sortList").change(function () {
            if ($("#sortList option:selected").val() == "1") {
                sort = "true";
                getVehicle();
            }
        });



        function getVehicle() {
            var vehicleType = $('.driving_box.active').attr('data');

            var brands = $('#brands option:selected').val();
            var sleeps = $('#sleeps option:selected').val();
            //$('.vehicle_type').find('button.active').attr('id');

            var vehicleCategory = '';// $('#CategoryList option:selected').val();

            if ($(".selected").length > 0) {
                $(".selected").each(function () {
                    vehicleCategory = vehicleCategory + ',' + $(this).find('[type=checkbox]').val();
                });
            }
            var MinPrice = $("#minval").val();
            var MaxPrice = $("#maxval").val();
            var Lat = $("#cityLat").val();
            var Long = $("#cityLng").val();
            if (vehicleCategory == undefined) {
                vehicleCategory = "0";
            }
            var vehicleTags = $("#VehicleTags").val();
            $(".grid_list").html('<span style="margin-left:18px;">Searching, Please wait...</span><img src="/images/indicator.white.gif" />');

            $.ajax({
                type: "POST",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                url: "/Home/getVehicle",
                data: "{'vType':'" + vehicleType + "', 'brands':'" + brands + "', 'sleeps':'" + sleeps + "', 'vehicleCategory':'" + vehicleCategory + "', 'MinPrice':'" + MinPrice + "', 'MaxPrice':'" + MaxPrice + "', 'Lat':'" + Lat + "', 'Long':'" + Long + "','sort':'" + sort + "','vehicleTags':'" + vehicleTags + "'}",
                success: function (result) {
                    $(".grid_list").html(result);
                    $('a[href="#grid"]').click(function () {
                        $("#listing").attr('class', 'tab-pane fade');
                        $("#grid").attr('class', 'tab-pane fade in active');
                    });
                    $('a[href="#listing"]').click(function () {
                        $("#grid").attr('class', 'tab-pane fade');
                        $("#listing").attr('class', 'tab-pane fade in active');
                    });
                    //window.location.href = "/Home/ListingPage";

                }
            });

        }


      

        

    });

    function favouriteAdds(ctrl) {
        if ("@Session["CurrentUser"]" == "") {
            $('#login').trigger("click");
        }
        else {
            var advertisementId = parseInt($(ctrl).attr("addId"));
            if (advertisementId != "") {
                $.ajax({
                    url: "/Home/AddToFavourites",
                    data: JSON.stringify({ AdvertismentId: advertisementId }),
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    success: function (data) {
                        $(ctrl).attr("style", "background-color: #EEEEEE;color: #E74C3C;").attr("onclick", "RemoveFavouriteAdds(this)").attr("addid", advertisementId).html('<i class="fa fa-heart"></i> <span></span>');
                    },
                    error: function (xhr) {
                        // alert('error');
                    }
                })
            }
        }

    }
    function RemoveFavouriteAdds(ctrl) {
        if ("@Session["CurrentUser"]" == "") {
            $('#login').trigger("click");
        }
        else {
            var advertisementId = parseInt($(ctrl).attr("addId"));
            if (advertisementId != "") {
                $.ajax({
                    url: "/Home/RemoveFromFavourites",
                    data: JSON.stringify({ AdvertismentId: advertisementId }),
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    success: function (data) {
                        $(ctrl).removeAttr("style").attr("onclick", "favouriteAdds(this)").attr("addid", advertisementId).html('<i class="fa fa-heart"></i> <span>Add to Wish List</span> ');
                    },
                    error: function (xhr) {
                        //alert('error');
                    }
                })
            }
        }
    }
    $(document).ready(function () {
        $("#minval").val("");
        $("#maxval").val("");

        $('#clear').click(function () {
            location.reload();
        });
        
    });
</script>

<script>
    //<!--

    $(document).ready(function () {

        $("#slider").slider({});
        //-->
        $("#slider").on('slideStop', function (ev) {
            var min = ev.value[0];
            var max = ev.value[1];
            $("#minval").val(ev.value[0]);
            $("#maxval").val(ev.value[1]);

        });
    });
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADd4GQx2SB8e98M2IdojQKZHgzUeeHFto&libraries=places" type="text/javascript"></script>

<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('city2').value = place.name;
            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>


