@model IEnumerable<VehicleSale.ViewModels.VehicleDetailsVM>

@using CloudinaryDotNet;
@using System.Web.Configuration;

@using ClassLibrary1;
@{
    var CategoryList = ViewBag.RVCategoryList;
    var BrandList = ViewBag.RVBrandList;
    Account account = new Account(WebConfigurationManager.AppSettings["CloudName"],
                            WebConfigurationManager.AppSettings["ApiKey"],
                            WebConfigurationManager.AppSettings["ApiSecret"]);
    Cloudinary cloudinary = new Cloudinary(account);
}

<link href="~/Content/admin/plugins/bootstrap-slider/slider.css" rel="stylesheet" />
<link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="~/Content/rangeSlider/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <script src="~/Content/rangeSlider/jquery.mobile-1.4.5.min.js"></script>*@

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Content/admin/plugins/bootstrap-slider/bootstrap-slider.js"></script>



<div class="col-sm-12 contant_detail">
    <!-----Cols-m-8-------------->
    <div class="pull-right col-xs-12 col-sm-8 listing_car" data-role="none">
        <h2 class="col-sm-12"><b>@ViewBag.count</b> Vehicles matching:</h2>
        <input id="minval" type="hidden" />
        <input id="maxval" type="hidden" />
        <div class="col-sm-12">
            <div class="search_listing">
                <select id="sortList" data-role="none"><option value="0">Sort By</option><option value="1">Year: New To Old</option></select>

                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#grid"><i class="fa fa-table" style="font-size: 20px" aria-hidden="true"></i></a></a></li>
                    <li><a data-toggle="pill" href="#listing"><i class="fa fa-list" style="font-size: 20px" aria-hidden="true"></i></a></li>
                </ul>

            </div>
        </div>

        <div class="tab-content grid_list">

            <div id="grid" class="tab-pane fade in active">

                @foreach (var item in Model)
            {
                    <div class="col-sm-4">
                        <div class="listing_box item-list">
                            <div class="listing_img">
                                <a href="@Url.Action("Index","VehicleDetail",new {id= item.ID})">
                                    @if (item.ImageUrl != null)
                                    {
                                        @cloudinary.Api.UrlImgUp.Transform(new Transformation().Crop("fill")).BuildImageTag(@item.PublicKey)
                                        @*<img src="@item.ImageUrl.Replace("~",string.Empty)" />*@
                                    }
                                    else
                                    {
                                        <img src="/ProductImage/noimage.jpg" />
                                    }

                                </a>
                            </div>
                            @*@Url.Action("Index", "VehicleDetail", new { id = item.ID })*@
                            <div class="col-xs-12 col-sm-12 listing_text">
                                <a href="/VehicleDetail/Index/@item.ID"> <h2>@item.yearBuilt &nbsp;&nbsp; @item.vehicleTitle</h2></a>
                                <ul>
                                    <li><b>Vehicle Code:</b> @item.vehicleCode</li>
                                    @*<li><b>Vehicle Brand:</b> @item.vehicleBrand</li>
                                        @*<li><b>Vehicle Model:</b> @item.vehicleModel</li>
                                        <li><b>Vehicle Category:</b> @item.vehicleCategory</li>
                                        <li><b>Vehicle Type:</b>@item.vehicleType</li>
                                        <li><b>Length & Width:</b>@item.length & @item.width</li>*@
                                    <li><b>Seats:</b> @item.seats , <b>Adult Sleeps:</b>@item.Adultsleeps@*, <b>Kid Sleeps:</b>@item.KidSleeps*@</li>
                                </ul>
                                <div class="btns_listing" data-role="none">
                                    <div class="col-xs-6 col-sm-6 "><input data-role="none" type="checkbox" class="mycheckbox" id="@item.ID"> <span>&nbsp; Compare</span> </div>
                                    <div class="col-xs-6 col-sm-6"> <span>&nbsp; Rent</span> :<span>&nbsp; @item.Rent</span></div>
                                    <div class="veiw_detail"><a data-role="none" href="@Url.Action("Index","VehicleDetail",new {id= item.ID})">View Detail</a></div>

                                    <div class="favourate_icon">
                                        @if (item.IsWishListed == true)
                                        {
                                            <a class="btn btn-default   btn-sm make-favorite" style="background-color: #EEEEEE;color: #E74C3C;" addid="@item.ID" onclick="RemoveFavouriteAdds(this)"> <i class="fa fa-heart"></i> <span></span> </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default  btn-sm make-favorite" addid="@item.ID" onclick="favouriteAdds(this)"> <i class="fa fa-heart"></i> <span>Add to Wish List</span> </a>

                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
            <div id="listing" class="tab-pane fade">

                <div class="col-sm-12">
                    @foreach (var item in Model)
            {
                        <div class="listing_box item-list">
                            <div class="col-xs-9 col-sm-4 listing_img">
                                <a href="@Url.Action("Index","VehicleDetail",new {id= item.ID})">
                                    @if (item.ImageUrl != null)
                                    {
                                        @cloudinary.Api.UrlImgUp.Transform(new Transformation().Crop("fill")).BuildImageTag(@item.PublicKey)
                                        @*<img src="@item.ImageUrl.Replace("~",string.Empty)" />*@
                                    }
                                    else
                                    {
                                        <img src="/ProductImage/noimage.jpg" />
                                    }

                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-8 listing_text">
                                <a href="@Url.Action("Index","VehicleDetail",new {id= item.ID})"> <h2>@item.yearBuilt &nbsp;&nbsp; @item.vehicleTitle</h2></a>
                                <ul>
                                    <li><b>Vehicle Code:</b> @item.vehicleCode</li>
                                    <li><b>Vehicle Brand:</b> @item.vehicleBrand</li>
                                    <li><b>Vehicle Model:</b> @item.vehicleModel</li>
                                    <li><b>Vehicle Category:</b> @item.vehicleCategory</li>
                                    <li><b>Vehicle Type:</b>@item.vehicleType</li>
                                    <li><b>Length & Width:</b>@item.length & @item.width</li>
                                    <li><b>Seats:</b> @item.seats, <b>Adult Sleeps:</b>@item.Adultsleeps@*, <b>Kid Sleeps:</b>@item.KidSleeps*@</li>
                                </ul>
                                <div class="btns_listing" data-role="none">
                                    <div class="col-sm-12 text-right"><input data-role="none" type="checkbox" class="mycheckbox" id="@item.ID"> <span>&nbsp; Compare</span> </div>
                                    <div class="col-sm-12 text-right"> <span>&nbsp; Rent</span> :<span>&nbsp; @item.Rent</span></div>
                                    <a data-role="none" href="@Url.Action("Index","VehicleDetail",new {id= item.ID})">View Detail</a>
                                </div>

                                <div class="col-sm-10" style="padding-left:0px;">
                                    @if (item.IsWishListed == true)
                                    {
                                        <a class="btn btn-default btn_heart btn-sm make-favorite" style="background-color: #EEEEEE;color: #E74C3C;" addid="@item.ID" onclick="RemoveFavouriteAdds(this)"> <i class="fa fa-heart"></i> <span></span> </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default btn_heart btn-sm make-favorite" addid="@item.ID" onclick="favouriteAdds(this)"> <i class="fa fa-heart"></i> <span>Add to Wish List</span> </a>

                                    }
                                </div>
                            </div>

                        </div>
                    }

                </div>


            </div>

        </div>



        @if (Model != null && Model.Count() > 0)
        {
            <div class="compare_btn">
                <a href="#" id="comparervs" onclick="Compare">Compare RV</a>
            </div>

        }

    </div>
    <!-----Cols-m-8-------------->
    <!-----Col-sm-4-------------->
    <div class="pull-left col-xs-12 col-sm-4 list_sidebar">
        @*<h2>Select a Starting and Ending date</h2>

            <div class="startdate_enddate col-sm-12">
                <input placeholder="Choose Your Dates" id="ember962" class="form-control" type="text">
            </div>*@
        <div id="dvMap" style="margin-top:20px">
            <input id="searchTextField" type="text" style="width:100%" class="form-control" placeholder="Enter a location" autocomplete="on" />
            <input type="hidden" id="city2" name="city2" />
            <input type="hidden" id="cityLat" name="cityLat" />
            <input type="hidden" id="cityLng" name="cityLng" />
        </div>
        <div class="driving">
            <h2>RV's,Trailers or Van </h2>
            <div class="col-xs-6 col-sm-4 driving_box active" id="RV" data="1">
                <label>
                    <img src="~/Content/Home/images/two (3).png" />
                    <br />
                    RV's
                </label>
            </div>

            <div class="col-xs-6 col-sm-4 driving_box" id="Trailers" data="2">
                <label>
                    <img src="~/Content/Home/images/two (2).png" />
                    <br />
                    Trailers
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 driving_box" id="Van" data="3">
                <label>

                    <img src="~/Content/Home/images/two (2).png" /><br />
                    Van
                </label>
            </div>

            <div class="distance_sleep">
                <div class="col-xs-6 col-sm-6">
                    <label>Brands</label>
                    <select id="brands" class="form-control">
                        @foreach (Brand brand in BrandList)
                        {
                            <option value="@brand.ID">@brand.Name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label>Sleeps</label>
                    <select id="sleeps" class="form-control">
                        <option value="1">1 guest</option>
                        <option value="2">2 guests</option>
                        <option value="3">3 guests</option>
                        <option value="4">4 guests</option>
                        <option value="5">5 guests</option>
                        <option value="6">6 guests</option>
                        <option value="7">7 guests</option>
                        <option value="8">8 guests</option>
                        <option value="9">9 guests</option>
                        <option value="10">10 guests</option>
                    </select>
                </div>
            </div>
            <div style="margin-left: 0px;margin-top: 0px; display: block; float:left;width:100%">
                <b style="margin-left: 20px;margin-top: 20px;display: block;">€ 10</b> <input id="slider" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[10,400]" /> <b style="float: right;top: 0;margin-top: -40px;margin-right: 15px;">€ 1000</b>
            </div>
            @*<div class="price_slider">
                    <h2>Min-Price Max-Price</h2>
                    <div data-role="rangeslider">

                        <input type="range" name="price-min" id="price-min" value="0" min="0" max="1000">

                        <input type="range" name="price-max" id="price-max" value="1000" min="0" max="1000">
                    </div>

                </div>*@

            <div class="vehicle_type">
                <h2>Vehicle Type</h2>

                <select id="CategoryList" class="form-control">
                    @if (CategoryList != null)
                    {
                        foreach (Category category in CategoryList)
                        {
                            <option value="@category.ID">@category.Name</option>
                        }
                    }
                </select>

                @*@if (CategoryList != null)
                    {
                        foreach (Category category in CategoryList)
                        {
                            <div class="col-xs-6 col-sm-6">
                                <button class="form-control" id="@category.ID">@category.Name</button>
                            </div>
                        }
                    }*@



            </div>
            <div class="close_icon col-sm-12">
                <a data-role="none" class="btn btn-primary btn-block" id="VehicleTypeFilter" data-ember-action="" data-ember-action-1030="1030">
                    Apply Filter
                </a>
            </div>


            <div class="close_icon col-sm-12">
                <a class="btn btn-primary btn-block" id="clear" data-ember-action="" data-ember-action-1030="1030">
                    <i class="fa fa-remove"></i> Clear Filters
                </a>
            </div>
        </div>
    </div>

    <!-----Cols-m-4-------------->

</div>
<style>
    /*.vehicle_type button .active{
            background-color:black !important;
        }*/
</style>

<script>
    $(document).ready(function () {
        $('#header').addClass('top_bar');
        $('.driving_box').click(function () {
            $('.driving_box').find('label').css('border', '2px solid #ddd');
            $(this).find('label').css('border', '2px solid black');
            $('.driving_box').removeClass("active")
            $(this).addClass("active");

        });
        @*$('.vehicle_type').find('button').each(function () {
            if ($(this).attr('id') == "@ViewBag.Category") {
                $(this).addClass("active");
            }
        });*@
        $('.vehicle_type').find('button').click(function () {
            $('.vehicle_type').find('button').removeClass("active");
            $(this).addClass("active");
        });
        $('#VehicleTypeFilter').click(function () {
            var vehicleType = $('.driving_box.active').attr('data');
            var brands = $('#brands option:selected').val();
            var sleeps = $('#sleeps option:selected').val();
            //$('.vehicle_type').find('button.active').attr('id');
            var vehicleCategory = $('#CategoryList option:selected').val();

            var MinPrice = $("#minval").val();
            var MaxPrice = $("#maxval").val();
            var Lat = $("#cityLat").val();
            var Long = $("#cityLng").val();
            if (vehicleCategory == undefined) {
                vehicleCategory = "0";
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/Home/GoToFilteredListTW",
                data: "{'vehicleType':'" + vehicleType + "', 'brands':'" + brands + "', 'sleeps':'" + sleeps + "', 'vehicleCategory':'" + vehicleCategory + "', 'MinPrice':'" + MinPrice + "', 'MaxPrice':'" + MaxPrice + "', 'Lat':'" + Lat + "', 'Long':'" + Long + "'}",
                success: function (Record) {
                    window.location.href = "/Home/TagWiseFleetListingSearch";
                }
            });
        });
    });

    function favouriteAdds(ctrl) {
        if ("@Session["CurrentUser"]" == "") {
            $('#login').trigger("click");
        }
        else {
            var advertisementId = parseInt($(ctrl).attr("addId"));
            if (advertisementId != "") {
                $.ajax({
                    url: "/Home/AddToFavourites",
                    data: JSON.stringify({ AdvertismentId: advertisementId }),
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    success: function (data) {
                        $(ctrl).attr("style", "background-color: #EEEEEE;color: #E74C3C;").attr("onclick", "RemoveFavouriteAdds(this)").attr("addid", advertisementId).html('<i class="fa fa-heart"></i> <span></span>');
                    },
                    error: function (xhr) {
                        // alert('error');
                    }
                })
            }
        }

    }
    function RemoveFavouriteAdds(ctrl) {
        if ("@Session["CurrentUser"]" == "") {
            $('#login').trigger("click");
        }
        else {
            var advertisementId = parseInt($(ctrl).attr("addId"));
            if (advertisementId != "") {
                $.ajax({
                    url: "/Home/RemoveFromFavourites",
                    data: JSON.stringify({ AdvertismentId: advertisementId }),
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    success: function (data) {
                        $(ctrl).removeAttr("style").attr("onclick", "favouriteAdds(this)").attr("addid", advertisementId).html('<i class="fa fa-heart"></i> <span>Add to Wish List</span> ');
                    },
                    error: function (xhr) {
                        //alert('error');
                    }
                })
            }
        }
    }
    $(document).ready(function () {
        $("#minval").val("");
        $("#maxval").val("");
        $("#sortList").change(function () {
            if ($("#sortList option:selected").val() == "1") {
                var sort = "true";

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "/Home/TagWiseFleetListingSearch",
                    data: { "sort": sort },
                    success: function (Record) {

                    }
                });
            }
        });
        $('#clear').click(function () {
            location.reload();
        });
        $('#comparervs').click(function () {
            var id = "";

            $('.mycheckbox').each(function () {
                if ($(this).prop('checked') == true) {
                    id = id + "," + $(this).attr("id");
                }

            });
            $.ajax({
                url: "/Home/Compares",
                data: JSON.stringify({ Id: id }),
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (data) {
                    location.href = "/Home/Compare";
                },
                error: function (xhr) {
                    //alert('error');
                }
            })
        });
    });
</script>

<script>
    //<!--
    $("#slider").slider({});
    //-->
    $("#slider").on('slideStop', function (ev) {
        var min = ev.value[0];
        var max = ev.value[1];
        $("#minval").val(ev.value[0]);
        $("#maxval").val(ev.value[1]);

    });
</script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADd4GQx2SB8e98M2IdojQKZHgzUeeHFto&libraries=places" type="text/javascript"></script>

<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('city2').value = place.name;
            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

