@model VehicleSale.ViewModels.AmentiesMasterVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel panel-info">
    <header class="panel-heading">
        <h3 class="panel-title">Amenties Master</h3>
    </header>
    <div class="panel-body">

        @using (Html.BeginForm("Edit", "AmentiesMasters", FormMethod.Post, new { @class = "form-horizontal", @id = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-6">
                <h4>AmentiesMaster</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                </div>

                @if (Model.ImageUrl != null)
                {

                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageUrl)

                        <img src=@Html.DisplayFor(modelItem => modelItem.ImageUrl) alt="" width="200" height="200" />
                        <i class="fa fa-times" aria-hidden="true" vehicleid="@Model.ID" id="Cross_image"></i>
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })

                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageUrl)

                        <input id="ImageUrl" name="ImageUrl" type="file" class="file form-control" data-preview-file-type="text">
                        @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })

                    </div>

                }
                <div class="form-group">

                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }

    </div>
</section>
<script type="text/javascript">
    $('#Cross_image').click(function () {
        if (confirm("Do you want to delete image?")) {
            var id = $("#Cross_image").attr("vehicleid");
            //alert("do you want to delete image?");
            $.ajax({
                url: "/AmentiesMasters/ImageDelete?id=" + id,
                type: "post", success: function (data) {
                    if (data == 'true') {
                        location.reload();
                        //window.location.reload();
                    }
                    return true;
                }, error: function (data) {
                    return false;
                }
            });
        }
    });

    $('#save_data').click(function () {
        var imageurl = $('#ImageUrl').val();
        if (imageurl == "") {
            alert("Please Upload File.")
            return false;
        }

    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
